<!DOCTYPE html>
<html lang="en">
<head>
    <title>Valorem</title>
    <style>
        body{
           margin: 0px;
        }
        .div1{
            border: #0a0a0a solid 1px;
            padding: 5px;
            position: relative;
            width: 32.5%;
            float: left;
            margin: 0px;
        }

        .img-reponsive{
            width: 90%;
            height: 90%;
        }
    </style>
</head>
<body>

    <div class="div1">
        <img class="img-reponsive" src="{{ assets('/img/logo.jpg') }}">
    </div>
    <div class="div1">
        teste 2
    </div>
    <div class="div1">
        teste 2
    </div>
    <div class="div1">
        teste 2
    </div>

</body>
</html>