
/*
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128&display=swap');
*/

body{
    font-family: 'Cabin', 'Trebuchet MS','Arial', 'Lucida Sans Unicode', 'Lucida Sans' !important;
    font-size: 12px;
}

.skin-green .main-header .logo {
    background-color: #006C38 !important;
}

.skin-green .main-header .navbar {
    background-color: #006C38 !important;
}

.skin-green .main-header li.user-header {
    background-color: #006C38 !important;
}

.skin-green .sidebar-menu>li.header {
    text-align: center;
}

.codebar_font {
    font-family: 'Libre Barcode 128', cursive, 'Arial' !important;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

.dropdown-menu > li > a{
    font-size: 12px;
}